/* At the top level of your code */
@media screen and (max-width: 1428px) {
    .container {
        display: flex;
        flex-direction: column;
    }
    .container :first-child{
        /* background: white; */
        flex: auto;
    }
    .content {
        flex: auto;
        height: 1380px;
        background: url('Image/image1.png');
    }
    #first-para {
        display: none;
    }
    .second-para {
        display: none;
    }
    .separation {
        display: none;
    }
    .bouton {
        display: none;
    }
    .footer {
        display: none;
    }    
  }

  @media screen and (min-width: 1428px) {
    .container {
        display: flex;
    }
    .container :first-child{
        flex : 1 20 0;  
    }
    .content {
        flex: 2 0 0;
        background: url('Image/image1.png');
    }
    .footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 30px;
    }
  }

* {
    margin : 0;
    padding: 0;
}

@font-face {
    font-family: 'MyFont';
    src: url(Font/ObjectSans-Regular.otf);
}

p {
    font-family: "MyFont";
    font-size: larger;
}

h1 {
    font-family: "MyFont";
    font-size: 70px; 
}

h2 {
    font-family: "MyFont";
    font-size: 30px; 
}

.header {
    display: flex;
    justify-content: space-between;
}

.flex {
    justify-self: end;
}

.logo {
    display: inline-flex;
    margin-top: 4px;
}

.logo :nth-child(5) {
    margin-left: 5px;
    place-self: center;
}

#logo1 {
    background: black;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 5px;
}

#x1 {
    background: black;
    width: 20px;
    height: 1px;
    margin-top: 19px;
    margin-right: -20px;
    transform: rotate(45deg);
    /* z-index: 0; */
}

#x2 {
    background: black;
    width: 20px;
    height: 1px;
    margin-top: 19px;
    transform: rotate(-45deg);
}


#logo2 {
    background: #9130de;
    width: 40px;
    height: 40px;
    border-radius: 40%;
    margin-left: 5px;
}

.close {
    place-self: center;
    display: flex;
    flex-direction: column;
    height: 47.5px; 
    width: 40px;
    align-items: center;
    justify-content: center; 
    z-index: 1;
    cursor: pointer;
}

.close :nth-child(1) {
    position: absolute;
    background: black;
    width: 20px;
    height: 2px;
    transform: rotate(45deg);
    z-index: 2;
    transition-property: transform ;
    transition-duration: 500ms;
}

.close :nth-child(2) {
    position: absolute;
    background: black;
    width: 20px;
    height: 2px;
    transform: rotate(-45deg);
    transition-property: transform;
    transition-duration: 500ms;
}

.open {
    place-self: center;
    display: flex;
    flex-direction: column;
    height: 47.5px; 
    align-items: center;
    justify-content: center;    
}

.open :nth-child(1) {
    background: black;
    width: 40px;
    height: 2px;
    max-height: 2px;
    transition-property: width;
    transition-duration: 500ms;
}

.open :nth-child(2) {
    display: block;
    background: black;
    width: 25px;
    height: 2px;
    margin-top: 4px; 
    margin-left: 15px;
    transition-property: width;
    transition-duration: 500ms;
}

#menu-content {
    margin: 20px ;
}

#first-para {
    padding-top: 5em;
}

.bouton {
    margin-top: 30px;
    color: white;
    background: black;
    width: 200px;
    height: 50px;
    border-radius: 40px; 
    text-align: center;
    line-height:50px; /* centrage vertical */
    padding: 5px 0 5px 0;
}

.bouton:hover {
    color: black;
    background: white;
    border: 1px solid black;
    transform: scale(1.3);
    margin-left: 1.6rem;
    margin-bottom: -2px;
    cursor: pointer;
}

.second-para {
    margin-top: 200px;
    color: #b3b3b3;
}

.separation {
    background: #eaeaea;
    height: 2px;
    margin-top: 30px;
}

.footer > :last-child{
    display: flex;
    align-items: center;
    color: #9130de ;
    height: 50px;
}
.footer > :last-child:hover{
    cursor: pointer;
}

.help::after{
    background: #9130de ;
    content: "";
    display: block;
    width: 0%;
	height: 0px;
}
.footer > :last-child:hover .help::after{
    background: #9130de ;
    content: "";
    display: block;
    width: 80%;
    height: 2px;
    transition-property: width;
    transition-duration: 0.7s;
    cursor: pointer;
}

.social {
    display: flex;
}

.social > span {
    display: flex;
    align-items: center;
    text-align: center;
    width: 50px;
    height: 50px;
    max-width: 50px;
    font-size: 25px;
    color: #9130de ;
}

.social > span:hover {
    background: #9130de;
    border-radius: 25%;
    color:  #b3b3b3 ;
    cursor: pointer;
}

.social > span:hover i {
    transition-duration: 0.5s;
    transform: scale(1.3);
}




